{% extends 'base.html' %} {% block content%}
<h1>Madlibs</h1>
<form id="madlib-form" action="/display_matlib" method="get">
  <table>
    {% for prompt in story.prompts %}
    <div>
      <tr>
        <td>
          <label>{{prompt}}</label>
        </td>
        <td>
          <input type="text" name="{{prompt}}" id="" />
        </td>
      </tr>
    </div>
    {% endfor %}
  </table>
  <button id="button" type="submit" style="width: 60px; height: 30px">
    Submit
  </button>
</form>
<script src="/static/app.js"></script>

{% endblock %}
